{{ define "head" }}
	{{ if .Params.featuredImg -}}
	<style>.bg-img {background-image: url('{{.Params.featuredImg}}');}</style>
	{{- else if .Params.images -}}
		{{- range first 1 .Params.images -}}
		<style>.bg-img {background-image: url('{{. | absURL}}');}</style>
		{{- end -}}
	{{- end -}}
{{ end }}

{{ define "header" }}
{{ partial "header.html" . }}
{{ end }}


{{ define "main" }}
	<main class="site-main section-inner thin animated fadeIn faster">
		<header class="post-header">
			<h1>{{ .Title }}</h1>
		</header>
		<h3>{{ printf "OLD TESTAMENT" }}</h1>
		{{ range sort .Site.Data.scriptures }}
			{{ if findRE "/ot/*" .lds_path  }}
        <details>
    	  		<summary> {{ .reference }} <br> </summary>
			  	{{ .text }} <br>
			  </details>
			  <br>
			{{ end }}
		{{ end }}

		<h3>{{ printf "NEW TESTAMENT" }}</h1>
		{{ range sort .Site.Data.scriptures }}
		  {{ if findRE "/nt/*" .lds_path  }}
			  <details>
			  	<summary> {{ .reference }} <br> </summary>
			  	{{ .text }} <br>
			  </details>
			  <br>
    		{{ end }}
		{{ end }}
		
    <h3>{{ printf "BOOK OF MORMON" }}</h1>
		{{ range sort .Site.Data.scriptures }}
		  {{ if findRE "/bofm/*" .lds_path  }}
			  <details>
			  	<summary> {{ .reference }} <br> </summary>
			  	{{ .text }} <br>
			  </details>
			  <br>
			{{ end }}
		{{ end }}
		<h3>{{ printf "D&C and PoGP" }}</h1>
			{{ range sort .Site.Data.scriptures }}
			  {{ if findRE "/dc-testament/*" .lds_path  }}
				  <details>
				  	<summary> {{ .reference }} <br> </summary>
				  	{{ .text }} <br>
				  </details>
				  <br>
				{{ end }}
			{{ end }}
			{{ range .Site.Data.scriptures }}
			  {{ if findRE "/pgp/*" .lds_path  }}
				  <details>
				  	<summary>{{ .reference }} </summary>
				  	{{ .text }} <br>
				  </details>
				  <br>
				{{ end }}
			{{ end }}

	</main>
{{ end }}

{{ define "footer" }}
{{ partialCached "footer.html" . }}
{{ end }}
